* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

body {
    min-height: 100vh;
    display: grid;
    place-content: center;
}

#bg-main {
    position: fixed;
    z-index: -1;
}

#big-container {
    background-color: yellow;
    display: flex;
}

#card-container {
    background-color: green;
}

.card {
    display: block;
}

#form-container {
    background-color: orange;
}

label, input[type="button"] {
    display: block;
}
 label {
    color: Very dark violet: hsl(278, 68%, 11%);
    text-transform: uppercase;
    letter-spacing: 5px;
 }

input {
    width: 100%;
}

#form-field-container {
    display: flex;
    background-color: purple;
}

.form-field > input {
    width: 30%;
}

.form-field.cvc {
    background-color: red;
    width: 70%;
}

/* Mirar despúes */
#result {
    display: none;
}

.attribution {
    position: fixed;
    bottom: 0;
    right: 0;
}